:root {
    --darkblue: #0A369D;
    --blue: #4472CA;
    --lightblue: #BCD0F6;
    --background: #CFDEE7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}


body {
    background-color: var(--background);
    color: #333;
}

.title {
    display: flex;
    align-items: center; 
    padding: 15px 40px;
    justify-content: space-between; 
    background-color: var(--darkblue);
}

.title img {
    width: 100px;
    margin-right: 20px; 
}

.title h1 {
    text-align: center;
    flex-grow: 1;
    color: #fff;
}

.nav-menu {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: var(--lightblue); 
    height: 70px; 
}

.nav-menu a {
    text-decoration: none; 
    color: #333; 
    padding: 0 30px;
    font-weight: bold;
    font-size: 0.8rem; 
}

.nav-menu a:hover {
    color: var(--darkblue); 
}

.image {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover; 
}

.image form {
    position: absolute;
    top: 50%;
    right: 20%; 
}

.image form input[type="submit"] {
    font-size: 1.2rem; 
    padding: 10px 15px; 
    border: none;
    border-radius: 5px;
    background-color: var(--blue);
    color: white; 
    cursor: pointer; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; 
}

.image form input[type="submit"]:hover {
    background-color: var(--darkblue); /* Darker shade on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
}

h2 {
    text-align: center;
    padding: 20px;
}
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 25px; 
    place-items: center; 
}

figure {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: 0; 
}

figcaption {
    font-size: medium;
    font-style: italic;
    margin-top: 10px; 
    color: #555; 
}

h3 {
    text-align: center;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: var(--darkblue); 
    color: #fff;
}

.content {
    text-align: center; 
    flex: 1; 
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 10px; 
}

.links img {
    width: 40px; 
    height: 40px; 
    filter: brightness(0) invert(1); 
}

.links a {
    text-decoration: none;
}


