@media screen and (min-width: 800px){

    header {
        width: 100%;
	}

    header h1 {
        padding: 30px;
        grid-column: 1/4;
        grid-row: 1/2;
    } 

    nav {
        display: grid;
        grid-row: 1/2;
        grid-column: 3/4; 
        text-align: right;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li{
        padding: 40px 30px 50px 60px;

    }
    nav.open {
        display: grid; 
        grid-column: 3/4;
        text-align: right; 
    } 


    #hamburger-btn {
        display: none;
    }

    main {
        margin: 0;
        padding: 0;
    }

    .temples {
        display: grid; 
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        grid-gap: 25px; 
        justify-items: center; 
        padding: 20px; 
        width: 100%;
    }
}