:root {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: #e0e1dd;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

.hamburger {
    display: block; 
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000; 
}
nav {
    background-color:#778da9;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: none; 
    flex-direction: column;
    background-color: #778da9;
    width: 100%;
}

nav ul.active {
    display: flex;
}

nav li {
    text-align: center;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    justify-content: space-around;
}

nav a:hover {
    border: 1px solid #fff;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    place-items: center;
}

figure {
    text-align: center;
}


figcaption {
    font-size: medium;
    font-style: italic;
    margin-top: 10px;
}

footer {
    background-color: #415a77;
    color: white;
    text-align: center;
    padding: 15px 10px;
    margin-top: 20px;
    font-size: 0.9rem;
}

footer span {
    display: block;
    margin-bottom: 5px;
}

footer p {
    margin: 5px 0;
}

footer p:last-child {
    color: #fcd5ce;
}


